{% extends 'base.html' %}

{% block content %}
<div style="padding-top: 65px;">
  <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://www.shelterluv.com/sites/default/files/animal_pics/332/2019/11/15/00/20191115000135.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Vern</h5>
                <p class="card-text">Hey there I'm Vern! I'm a goofy dude who is energetic, playful and silly. I'm just a fun loving guy who will leap at the first chance for a walk around the neighborhood. Sometimes I act as if I'm in my own little world but that's what makes me adorable. I'm just an oddball looking for someone to love all my funny quirks. Come visit me and spend some time with me, I'm sure to give you a laugh!</p>
                <div class="d-flex justify-content-between align-items-center">

                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://www.shelterluv.com/sites/default/files/animal_pics/332/2019/12/10/07/20191210075119.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Honey Buns</h5>
                <p class="card-text">Hi I'm Honey Buns! I'm a lovable squishy girl. I'm a bit shy when you first meet me, but roll me over and rub my belly and you'll be my friend forever. I love to nestle my nose into your lap when I want attention. I'm a great walker too. You may notice I'm a little extra squishy so I'm looking for someone to help me with my diet and fitness routine. I'm a sweetheart looking for my soulmate. Is that you?</p>

                <div class="d-flex justify-content-between align-items-center">

                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://www.shelterluv.com/sites/default/files/animal_pics/332/2019/09/27/18/20190927184507.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Crumpet</h5>
                <p class="card-text">Hey I'm Crumpet! I make noises like a trumpet, just kidding! I am one silly guy who has the biggest smile. I get very happy when I get to go for long walks and play with my friends. I like the simple things in life: walks, treats, toys, and love. If you think I could be the curly fluffy haired guy to brighten up your home, come get to know me!</p>

                <div class="d-flex justify-content-between align-items-center">

                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://www.shelterluv.com/sites/default/files/animal_pics/332/2019/09/21/13/20190921131455.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Shirley Temple</h5>
                <p class="card-text">Hi there I'm Shirley Temple! I have the softest coat that makes me snuggling me so comfy! I'm a gentle sweetheart who loves to be by your side. I'm a great walker, easy going and just full of love to give. I'll be the loyal companion that brings joy to your home. If I'm the darling for you, I'd love to spend time getting to know one another!</p>

                <div class="d-flex justify-content-between align-items-center">

                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://www.shelterluv.com/sites/default/files/animal_pics/332/2019/10/23/19/20191023193852.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Manny</h5>
                <p class="card-text">Hi I'm Manny! I'm a scruffy guy with big ears, but that's what makes me adorable. I'm a very loving guy who welcomes affection and attention. I love to play with my doggie friends, romping around chasing toys together or lounging next to each other by the kiddie pool. I'd love to have the chance to win over your heart, so come visit me at Adopt&Shop. We can spend some time falling in love with each other!</p>

                <div class="d-flex justify-content-between align-items-center">

                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://www.shelterluv.com/sites/default/files/animal_pics/332/2019/10/10/21/20191010212721.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Rory</h5>
                <p class="card-text">Hi I'm Rory! I'm one energetic playful guy. I'm a huge lover who's always giving kisses. I'm going to grow up to be a big boy so I hope you have a big bed we can cuddle in together! I'm looking for an active house that will give me playdates with my friends, take me for long walks and make sure I get good training to become a good boy!</p>

                <div class="d-flex justify-content-between align-items-center">

                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://www.shelterluv.com/sites/default/files/animal_pics/332/2019/11/04/19/20191104191222.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Michonne</h5>
                <p class="card-text">Hey there I'm Michonne! I'm one adorable loving girl. I am the most loyal companion you'll ever meet who wants nothing more than to be by your side 24/7. I'm a sweet tempered girl who adores human attention. I can get along with other dogs too if necessary but I was a loyal companion animal and humans are my favorite. I'm a great walker who loves to cruise the street. If you want a caring compassionate girl like me in your home, let's get to know each other!</p>

                <div class="d-flex justify-content-between align-items-center">

                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://www.shelterluv.com/sites/default/files/animal_pics/332/2019/10/17/20/20191017202459.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Sonny</h5>
                <p class="card-text">Hey I'm Sonny! Let my smile cheer up your day. I'm the guy who get's super excited and wiggly, making me super adorable. I warm up quickly even if I act shy at first. I LOVE scratches and affection. When I want some love don't worry I make it known in an adorable way. I know you're intrigued so come visit me!</p>
                <div class="d-flex justify-content-between align-items-center">

                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="https://www.shelterluv.com/sites/default/files/animal_pics/332/2019/11/15/00/20191115000310.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Armadillo</h5>
                <p class="card-text">Hey I'm Armadillo! I'm one fun and energetic guy. I love attention and will leap into your arms when I'm ready to go out for a walk. I'm super happy and have a lovely smile. I'm always ready for the next adventure am looking for my partner in crime. Is that you?</p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>

{% endblock %}
